* {
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  background-image: url("/background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 20px 0 20px 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.row {
  text-align: center;
  width: 97.5%;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

div {
  border: 1px black solid;
}

.column img {
  width: 90%;
}

.title {
  text-align: center;
  font-size: 3.5rem;
}
